.list {
    list-style: none;
    padding: 0;
    border: 1px solid var(--theme-color-light);
    border-radius: 10px;
}
.listItems:not(:last-of-type) {
    border-bottom: 1px solid var(--theme-color-normal);
}
.placeholder{
    height: 100px;
    width: 100%;
    border: 1px solid var(--theme-color-normal);
    border-radius: var(--theme-border-radius-soomth);
    text-align: center;
    line-height: 100px;
    margin: 20px 0;
    font-size: 20px;
    color: var(--theme-color-normal);
}