.title {
  color: var(--theme-color-dark);
  font-weight: 300;
  font-size: 42px;
  width: 100%;
  text-align: center;
}
.add-btn {
  background-color: var(--theme-color-normal);
  color: var(--theme-background-light);
  border: none;
  display: block;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  flex-grow: 1;
  max-width: 170px;
  text-align: center;
  text-decoration: none;
}
.list-header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.list-picker {
  display: flex;
  align-items: center;
}
.list-picker-label {
  color: var(--theme-color-dark);
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 0;
  flex-shrink: 0;
}
.list-picker-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--theme-color-normal);
  background-color: var(--theme-background-light);
  color: var(--theme-color-normal);
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  max-width: 200px;
}
@media (max-width: 676px) {
  .add-btn,
  .list-picker {
    margin: auto;
  }
}
